<div class='container' id="SignInContainer">
	<div ng-controller='HomeController'>
		<header>
			<div class="container-fluid" id="home">
				<div class='row'>
					<div class='col-lg-12'>
						<h2 id="Hello">Hello {{currentUser.NickName}}, please remember:</h2> 
						<h1 id="happy">Happy Wife = Happy Life!</h1>
					</div>
				</div>
			</div>
		</header>
		<div>
			<ng-include src="'./html/Partials/Question.html'"></ng-include>
		</div>
			
		<div>
			<ng-include src="'./html/Partials/NewestQuestions.html'"></ng-include>
		</div>
		<div class='row'>
					<div class='col-lg-12' id="SignOut">
						<img title="Sign Out" alt="SignOut" src= './images/Exit-48.png' width="70" height="62" ng-click='signout()'>
					</div>
		</div>
	</div>
</div>