<div ng-controller='HomeController'>
  <header>
	  <div class="container-fluid"  id="home">
	  <div class="row">
	  	<div class="col-md-6">
	   		<h2 class="text-right">Welcome to Ask Your Wife!</h2>
	   	</div>
	   	<div class="col-md-6">
	   		<button type="button" class="btn btn-danger" ng-click='signout()' id="sign-out">It's dangerous to sign out but you can do it</button>
	   	</div>
	  </div>
	  <div class="row">
	  	<div class="col-md-8">
	  		<h2>Hello {{currentUser.NickName}}</h2>
	  	</div>
	  </div>
	</div>	
 </header>
</div>
