<div class='container'>
	<div ng-controller='LeaderboardController' data-ng-init="init()">
		<header>
			
		</header>
		<h2 id = "leaderboardTitle">Top 20 rated CQA users</h2>
			<div id="leaderboardDiv">
					
					<table id="leaderboardTable" class="table">
						<tr>
							 <th>Photo</th>
							 <th>Nickname</th> 
							 <th>Rating</th> 
							 <th>Expertise profile</th> 
					    </tr>
					</table>
				</div>
		
		<div class='row'>				
					<p>
					<img  title="Sign Out" alt="signOut" src= './images/Exit-48.png' width="70" height="62" ng-click='signout()'/>
					<a href="./#/home">
					<img title="Home" alt="home" src= './images/Home-48.png' width="70" height="62">
					</a>
					</p>
		</div>
	</div>
</div>