<div class='container'>
	<div ng-controller='LeaderboardController' data-ng-init="init()">
		<header>
			
		</header>
			<div id="leaderboardDiv">
					<h2 id = "leaderboardTitle">Top 20 rated CQA users</h2>
					<table id="leaderboardTable" class="table">
						<tr>
							 <th>Photo</th>
							 <th>Nickname</th> 
							 <th>Rating</th> 
							 <th>Expertise profile</th> 
					    </tr>
						 <tr>
							 <td><img class="profilePics img-circle" src="http://cdn-01.belfasttelegraph.co.uk/incoming/article31552045.ece/82fe0/ALTERNATES/w620/US%20Monkey%201550.jpg" ></td>
							 <td></td>
							 <td></td>
							 <td><span class="label label-default">New</span></td>
						 </tr>
					</table>
				</div>
		
		<div class='row'>				
					<p>
					<img  title="Sign Out" alt="signOut" src= './images/Exit-48.png' width="70" height="62" ng-click='signout()'/>
					<a href="./#/home">
					<img title="Home" alt="home" src= './images/Home-48.png' width="70" height="62">
					</a>
					</p>
		</div>
	</div>
</div>