<!DOCTYPE html>
<div ng-controller='NewestQuestions' data-ng-init="initNewest()">
	<div >
		<div>
			<div>

				 <div id="newestQuestions">
					<table id="newQuestionsList" class="table">
						  <th>Question's text</th>
						  <th>Time of submission</th> 
						  <th>Rating</th> 
						  <th></th>
					</table>
				</div>
				<div id = "pagingDiv">
					<ul class="pager" >
					  <li class="previous" ><a href="" ng-click="prev()" >Prev</a></li>
					  <li class="next" ><a href="" ng-click="next()" >Next</a></li>
					</ul>
					
				</div>
			</div>
		</div>
	</div>
</div>



