<!DOCTYPE html>
<div class='container' >
	<div ng-controller='QusetionsOnTopicController' data-ng-init="initOnTopic()">

		<div class="container-fluid" >
				<div class='row'>
					<div class='col-md-12'>
						<h1 class="Questions On Topic:"> </h1> 
					</div>
				</div>
					<div class='row'>
						<div class='col-md-8 col-xs-8 col-lg-8'>
								<table class="table" id = "allQuestionsontopicList">
									<tr>
										 <th>Time</th>
										 <th>Question's text</th> 
										 <th>Topic</th> 
										 <th>Rating</th> 
							    	</tr>
								 </table>
							</div>
						</div>
					</div>
				
		<div class='row'>				
					<p>
					<a href="./#/">
					<img class="fixed" title="Sign Out" alt="signOut" src= './images/Exit-48.png'>
					</a>
					<a href="./#/home">
					<img class= "fixed" title="Home" alt="home" src= './images/Home-48.png' >
					</a>
					<a href="./#/leaderboard">
					<img class= "fixed" title="LeaderBoard" alt="home" src= './images/Superman-48.png'>
					</a>
					</p>
		</div>
	</div>
</div>