
<div ng-controller='QuestionSubmit'>
	<div class='container'>
		<div class='row'>
			<div class='col-md-10 text-center'>
				<h1 id="shy"> So don't be shy, Ask!</h1>
				<img id="familyGuy" alt="peter" src= './images/family_guy_internet.jpeg' width="300" height="250">
				<form class="form-horizontal" ng-submit='ask()'>
				<div class="form-group has-feedback " id="submit-question">
			   		<label class='control-label col-md-3 text-center' for="user-question" id="MyQuestion">My Question</label>
			   		<div class='col-md-9' id="texting">
				   		<textarea class="form-control" name="user-question" placeholder="Question" ng-model='question.Text' id="textArea" ></textarea>
			  	 	</div>
			  	</div>		
				<div class="form-group has-feedback" id="submit-topic">
			   			<label class='control-label col-md-3 text-center' for="user-topic" id="MyTopic">The topic\s:</label>	   			
			   		<div class='col-md-9' id="texting">
				   		<textarea class="form-control" name="user-topic" placeholder="Topic/s" ng-model='topic.Text' id="textArea" ng-init='topic.Text=""'></textarea>
			  	 	</div>
			  	 	<div class='col-md-9' id="pleaseProvide">
			  	 		<h3>please provide each topic under 50 chars and separate them by "," and keep your question under 300 chars, thanks!</h3>	
			  	 	</div>
			  	 </div>
				 <button type="submit" class="btn btn-primary" id="submitBtn">Submit my question</button>
				</form>
				<div class='container'>
					<div class = 'row'>
						<div class ='col-md-12' id="topicErrors">
							<ul id="error-list-questions" class="error-list">
							<div ng-if="errorArray.length > 0">
								<h4>These topics are over 50 chars:</h4>
							</div>
							</ul>
						</div>
					</div>
				</div>
				<div class="error-list" id="questionLength"></div>
			</div>
			</div>
			</div>
</div>

