<div class='container' >
	<div ng-controller='LeaderboardController' data-ng-init="getUserProfile()">

		<div class="container-fluid" >
				<div class='row'>
					<div class='col-md-12'>
						<h1 id="userProfileHeadline"> {{thisUser.Name}}</h1> 
					</div>
				</div>
				<div id="#UserProfileInfo">
					<div class='row'>
						<div class='col-md-3 col-xs-3 col-lg-3'>
							<h2 > <img class="img-circle" id="userImage" ng-src="{{thisUser.Pic}}"></img></h2> 
							<h3 id="userProfileHeadline"> {{thisUser.Nickname}}</h3> 
							<h3 id="userProfileHeadline">Rating: {{thisUser.Rating}}</h3> 
						</div>
						<div class='col-md-6  col-xs-6 col-lg-6'>
						<br/>
						<br/>
							<h3 id="userProfileHeadline"> {{thisUser.Description}}</h3> 
						</div>
					</div>
					<div class='row'>
						<div class='col-md-3 col-xs-3 col-lg-3'>
							<div class="panel panel-default" id ="userExpertisePanel">
							  <div class="panel-heading"  id ="userExpertisePanelHead">Expertise</div>
							  <div class="panel-body" >
							  	<h3 id="userExpertise"></h3>
							  </div>
									
							</div>
						</div>
						<div class='col-md-8 col-xs-8 col-lg-8'>
							<div class = "panel panel-default" id ="userFiveQuestionsPanel">
							   <div class = "panel-heading" id ="userFiveQuestionsPanelHeading">
							      <h1 class = "panel-title" id ="userFiveQuestionsPanelTitle">Five last questions the user asked:</h1>
							   </div>
								<table class="table" id = "UserLastFiveQuestions">
									<tr>
										 <th>Time</th>
										 <th>Question's text</th> 
										 <th>Topic</th> 
										 <th>Rating</th> 
							    	</tr>
								 </table>
							</div>
						</div>
					</div>
					<div class='row'>
						<div class='col-md-3 col-xs-3 col-lg-3'>
						</div>
						<div class='col-md-8 col-xs-8 col-lg-8'>
						<div class = "panel panel-default" id ="userAnswersPanel">
							   <div class = "panel-heading" id ="userAnswersHeading">
							      <h1 class = "panel-title" id ="userAnswersTitle">User’s 5 last answered questions</h1>
							   </div>
								<table class="table table-striped" id = "userAnswersTable">
									<tr>
										 <th>Question's Time</th>
										 <th>Question's text</th> 
										 <th>Question's Topics</th> 
										 <th>Question's Rating</th> 
							    	</tr>
								 </table>
							</div>
						</div>
					</div>
				</div>
			</div>
		<div class='row'>				
					<p>
					<img  title="Sign Out" alt="signOut" src= './images/Exit-48.png' width="70" height="62" ng-click='signout()'/>
					<a href="./#/home">
					<img title="Home" alt="home" src= './images/Home-48.png' width="70" height="62">
					</a>
					<a href="./#/home/leaderboard">
					<img title="Home" alt="home" src= 'https://www.wpclipart.com/signs_symbol/arrows/button_arrows/play_buttons/back_button_2.png' width="70" height="62">
					</a>
					</p>
		</div>
	</div>
</div>