
.error-list
{
    color: red;
}
#shy
{
	font-family: Rancho;
	text-align: left;
	
}
#intro
{
	margin-top: 90px;
	font-family: Tangerine;
	font-size: 4vw;	
}
#sign-out 
{
	margin-top: 20px;
    float: left;
    
}
#Hello
{
	font-family: Rancho;
	font-size: 60px;
}
#welcome
{
	margin-top: 90px;
	font-family: Tangerine;
	margin-right: 30px;
	font-size: 4vw;
	color:#c3a343;
	font-weight: 500;
}
}
#fun
{
	font-family: Tangerine;
	font-size: 3.4vw;
}
#words, #submit-question, #submit-topic
{
	margin-top: 10px;
	margin-bottom: 15px;
	margin-left: 35px;
	font-size: 1.7vw;	
}
#user-login 
{
	margin-left: 15px;
}
#SignUp, #hello
{
	margin-left: 63px;
}
html
{
  font-family: Courier New;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
#indexPage, #signUpPage 
{
	background-image: url('../images/corpseBride.jpg');
 	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-family: Rancho;
	height: 1100px;
}
.control-label, .btn-default, .btn
{
	font-size: 16.7px;
}
#homePage
{
	background-image: url('../images/confused-man1.jpg');
 	background-repeat: no-repeat;
	background-size:150% 100%;
	font-family: Courier New;
	height: 2700px;
	
}
#SignUpContainer, #SignInContainer 
{
    height: 625px;
}
#SignOut
{
	text-align: right;
}
#happy
{
	font-family: Tangerine;
	font-size:6vw;
}
#MyQuestion, #MyTopic
{
	font-family: Rancho;
	font-size: 33px;
	text-align: right;
}
#pleaseProvide
{
	font-family: Rancho;
	text-align: center;

}
#topicErrors
{
	text-align: left;
}
.list-group-item {
    position: relative;
    display: block;
    margin-bottom: -1px;
    border: 1px solid #ddd;
    background-color: transparent;
    width: 68%;
}
li
{
	font-size:1.2vw;
}
.control-label
{
	font-size: 1.8vw;
}
.div
{
	position: fixed;
}