
.error-list
{
    color: red;
}
#intro
{
	margin-top: 90px;
	font-family: Tangerine;
	font-size: 90px;	
}
#sign-out
{
	margin-top: 20px;
    margin-bottom: 10px;
}
#welcome 
{
	margin-top: 90px;
	font-family: Tangerine;
	font-size: 55px;
}
#fun
{
	font-family: Tangerine;
	font-size: 55px;
}
#words
{
	margin-top: 105px;
}
#user-login 
{
	margin-left: 15px;
}
#SignUp
{
	margin-left: 63px;
}
html
{
  font-family: Courier New;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body 
{
	background-image: url('../images/corpseBride.jpg');
 	background-repeat: no-repeat;
	background-size: 100%;
	font-family: Courier New;
}
.control-label, .btn-default, .btn
{
	font-size: 16.7px;
}
